



/* jumbotron image section */

#jumbotron-image {
  background: url(/imgs/sule-makaroglu-YFmvjO3TP_s-unsplash.jpg);
  height: 550px;
  padding: 48px;
  width: 100%;
}

.jumbotron-title,
p {
  color: #ffffff;
}

/* about-us seciton */

#about-us {
  width: 80%;
  margin: auto;
}

#about-us .section-title {
  margin: 32px;
}


/* our-trainers section */
#our-trainers {
  height: 600px;
  padding: 32px;
}

/* memberships section */
#training-plans {
  width: 100%;
  text-align: center;
  padding: 48px;
}

.section-title {
  text-align: center;
  color: white;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 35px;
}

.section-title span {
  color: #e02f0f;
}

.section-title + p {
  text-align: center;
  margin-top: 0;
  padding: 5px 0;
}

.training-plan {
  display: inline-block;
  width: 30%;
  background: #242424;
  color: white;
  padding: 16px;
  margin: 8px;
}

.training-plan__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.training-plan__feature {
  margin: 8px 0;
  color: #aaaaaa;
}

.training-plan__title {
  color: rgb(224, 47, 15);
}

.training-plan--highlighted {
  border: 4px solid rgba(224, 46, 15);
  color: white;
  background: rgb(224, 47, 15);
}
.training-plan__annotation {
  color: rgb(117, 23, 7);
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px;
}
.training-plan--highlighted .training-plan__title,
.training-plan--highlighted .training-plan__feature {
  color: white;
}

.training-plan--highlighted .training-plan__price {
  color: rgb(117, 23, 7);
}

.training-plan--highlighted button {
  background: rgb(117, 23, 7);
  border: 2px solid rgb(117, 23, 7);
  color: white;
}

/* key-services section */
#key-services {
  background: url(/imgs/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg);
  padding: 32px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#key-services .section-title {
  margin: 0px;
}

.key-service__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.key-service {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.key-service__icon {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  margin: auto;
  border: #e02f0f 2px solid;
}

.key-service__description {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}


/* our-blog section */
#our-blog{
  height: 500px;
}

/* client-reviews section */
#client-reviews{
  height: 500px;
  background: url(/imgs/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg);
  padding: 32px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* banner section */

#banner{
  height: 250px;
  background: #e02f0f;
}
