* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: rgb(29, 28, 28);
  color: white;
}

.main-header {
  background: rgb(29, 28, 28);
  width: 100%;
  padding: 8px 16px;
}

.main-header div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  font-family: 'Hind', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
}
.main-header__brand > span {
  color: rgb(224, 47, 15);
}
.main-nav {
  display: inline-block;
  width: calc(100% - 160px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: rgb(224, 47, 15);
  border-bottom: 2px solid rgb(224, 47, 15);
}

/* jumbotron image section */

#jumbotron-image {
  background: url(/imgs/sule-makaroglu-YFmvjO3TP_s-unsplash.jpg);
  height: 550px;
  padding: 48px;
  width: 100%;
}

.jumbotron-title,
p {
  color: white;
}

/* memberships section */
#training-plans {
  width: 100%;
  text-align: center;
  padding: 32px;
}

.section-title {
  text-align: center;
  color: white;
  vertical-align: middle;
  margin-bottom: 0;
}

.section-title span {
  color: rgb(224, 47, 15);
}

.section-title + p {
  text-align: center;
  margin-top: 0;
  padding: 5px 0;
}

.training-plan {
  display: inline-block;
  width: 30%;
  background: rgb(245, 116, 93);
  color: white;
  padding: 16px;
  margin: 8px;
}

.training-plan__title {
  color: white;
}

.training-plan__price {
  color: rgb(117, 23, 7);
}

.training-plan__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.training-plan__feature{
  margin: 8px 0;
}

.training-plan--highlighted {
  border: 4px solid rgb(224, 47, 15);
  color: white;
}
.training-plan__annotation {
  color: rgb(117, 23, 7);
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px;
}
.training-plan--highlighted .training-plan__title {
  color: white;
}

.button{
  background:  rgb(117, 23, 7);
  color: white;
  padding: 8px;
  border-radius: 8px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: 1.5px solid rgb(117, 23, 7);
}

.button:focus {
  outline: none;
}